//
// Inputs
// --------------------------------------------------

// Text fields
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #aaaaaa;
  color: $base-color;
  font-family: $base-font-family;
  font-size: 0.9375rem;
  padding: 8px 5px;
  height: 21px;
  text-indent: 6px;
  -webkit-appearance: none;
  @include border-radius(4px);
  @include box-shadow(none);
  @include placeholder-color(#aaaaaa);
  @include transition("border .25s linear, color .25s linear");// Alternate state
  // --------------------------------------------------
  &.focus,
  &:focus {
    border-color: #3fbfff;
    @include box-shadow(none);
  }
  // State Colors
  // --------------------------------------------------
  &.success {
      border-color: $success-color;
  }
  &.error {
      border-color: $error-color;
  }
}


// Disabled state
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #fbfbfb;
  border-color: #d5d5d5;
  color: #d5d5d5;
  cursor: default;
}

// Textarea
textarea {
  height: auto;
  line-height: 24px;
  padding: 5px 11px;
  text-indent: 0;

  .row-fluid & {
    height: auto;
    width: 100% !important;
  }
}
textarea[class*="span"] {
  width: 100% !important;
}
.focus {
    border-color: #3fbfff;
    @include box-shadow(none);
  }





.select {
  display: inline-block;
  margin-bottom: 10px;

  // Select grid
  &[class*="span"] {
    [class*="span"] > & {
      margin-left: 0; // No margin if select is a closest child of the grid
    }
    .btn {
      width: 100%; // Button should take all available space of its parent
      @include box-sizing();
    }
  }

  // Fluid width. Takes all available space and behaves like a block
  &.select-block {
    display: block;
    float: none;
    margin-left: 0;
    width: auto;

    .btn {
      width: 100%;
      @include box-sizing();
    }
  }


  // Button Sizes
  // --------------------------------------------------

  .btn {
    width: 220px; // Default select width until .span* is applied

    // Huge
    &.btn-huge {
      .filter-option {
        left: 20px;
        right: 40px;
        top: 16px;
      }
      .caret {
        right: 20px;
      }
    }

    // Large
    &.btn-large {
      .filter-option {
        left: 18px;
        right: 38px;
        top: 12px;
      }
    }

    // Small
    &.btn-small {
      .filter-option {
        left: 13px;
        right: 33px;
        top: 7px;
      }
      .caret {
        right: 13px;
      }
    }

    // Mini
    &.btn-mini {
      .filter-option {
        left: 13px;
        right: 33px;
        top: 5px;
      }
      .caret {
        right: 13px;
      }
    }
    .filter-option {
      height: 26px;
      left: 13px;
      overflow: hidden;
      position: absolute;
      right: 33px;
      text-align: left;
      top: 10px;
    }
    .caret {
      position: absolute;
      right: 16px;
    }
    .dropdown-toggle {
      @include border-radius(6px);
    }

    // Dropdown menu
    .dropdown-menu {
      min-width: 100%;
      @include box-sizing();

      dt {
        cursor: default;
        display: block;
        padding: 3px 20px;
      }
      li {
        &:not(.disabled) > a:hover small {
          color: fade(#000000, .4);
        }
        > a {
          min-height: 20px;

          &.opt {
            padding-left: 35px;
          }
        }
        small {
          padding-left: 0.5em;
        }
        > dt small {
          font-weight: normal;
        }
      }
    }

    // Disabled state
    > .disabled,
    .dropdown-menu li.disabled > a {
      cursor: default;
    }
  }

  // Caret
  .caret {
  }
}

